.yes-fab {
  padding-bottom: 10%;
  padding-right: 3%;
}

.myActionSheetBtnStyle {
  color: #478191 !important;
}
/* .action-sheet-title {
  .action-sheet-title.sc-ion-action-sheet-md, .action-sheet-title.sc-ion-action-sheet-ios {
      font-size: 20px;
      font-weight: bold;
      color: var(--ion-color-dark);
      text-align: left;
  }   
  .myActionSheetBtnStyle {
    font-style: 15px;
  }
}  */
.yes-title {
  h1{
    font-weight: bold;
    font-size: 32px;
    margin: 70px 24px 0px 24px;
    font-family: Fagoco;
   
  }
}

div.reusable_accordion {
  margin: 40px 0px;
  //line-height:12px;
  height:auto;
  width: auto;
}
.toggle_button {
  --background: var(--ion-color-primary);
  color: rgb(249, 250, 246);
  cursor: pointer;
  --border-radius: 30px;
  font-size: 19px;
  font-family: Roboto;
  height: 56px;
  margin: 0px 24px 0px 24px;
}
.balance-item{
  margin: 10px 10px 20px 0px;
  .balance{
    font-size: 19px;
    font-family: roboto;
    font-weight: bold;
    }
  .card-balance{
    background:  #478191 !important;
    padding: 10px ;
    border-radius: 50%;
    color: var(--ion-color-light);
    margin: 0px 24px 0px 1px;
  }
}
.transaction{
  font-size: 14px;
  font-family: Roboto;
  font-weight: bold;
  
}
