<ion-content>

    <ion-row center text-center>
        <ion-text color="dark" class="yes-title">
            <h1>Balance</h1>
        </ion-text>
    </ion-row>
  
        <ion-row>
         <ion-col>
            <ion-item class = 'balance-item'>
              <ion-icon name="card-outline"  class = 'card-balance'> </ion-icon>   
              <ion-label  *ngIf="balanceClicked"  class = 'balance'> 8000 XOF </ion-label>
            <ion-button slot="end"  fill="clear" (click)='showBalance()'><ion-icon [name]="balanceClicked ? 'eye-off-outline' : 'eye-outline'" fill="clear" size="large" color = 'primary' ></ion-icon></ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
   

    <div (click)="toggleAccordion()" >
        <ion-item class="toggle_button">
          <ion-label> Transaction history</ion-label>
          <ion-icon  color = 'light' slot="end" [name] = "expansion ? 'caret-up-outline' : 'caret-down-outline'" ></ion-icon>
        </ion-item>
    </div>
    <app-accordion [expanded]="this.expansion" >
          <div class="reusable_accordion template_accordion" >
                <div class="template_containers">
                  <ion-list>
                    <ion-item class = 'transaction'>
                      <ion-label >Yobante Express credit <br><br>Deposit #YES5553</ion-label> 
                      <p  *ngIf="showAmount">3000 XOF</p>
                    </ion-item>
                    <ion-item >
                      <ion-label >Transaction created at <br>Time </ion-label> 
                      <ion-button fill="clear" (click)='showTransaction()'><ion-icon [name]="showAmount ? 'eye-off-outline' : 'eye-outline'" fill="clear" size="large" color = 'primary' ></ion-icon></ion-button>

                    </ion-item>
                    
                  </ion-list>
                </div>
          </div>
    </app-accordion>

    <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" class="yes-fab">
        <ion-fab-button (click)='retrait()'>
            <ion-icon name="cash"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
