<ion-header>
  <ion-toolbar color='primary'>
      <ion-buttons slot="primary" slot="start" (click)='fermer()'>
          <ion-button>
              <ion-icon name="chevron-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>
          {{ modalData.title}}
      </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

</ion-content>


