.chevron-back {
  
  font-weight: bold;
  font-family: FagoCo !important;
  height: 56px;
  font-size: 32px;
  margin: 0px 0px 0px 10px;
}
ion-title {
  font-family: FagoCo !important;
  font-weight: bold;
  font-size: 32px;
  padding-left: 40px;
  
}

div.reusable_accordion {
   
  padding: 0px 0px 0px 20px;
  margin: 0;
  height:auto;
  width: auto;
  .yes-id{
    font-weight: bold;
    font-family: Roboto;
    font-size: 14px;
    padding-left: 16px;
  }
  .description{
    font-family: Roboto;
    font-size: 14px;
    padding-left:37px;
  }
  span{
    font-weight: 450;
  }
}
.parcel-detail{
  .parcel-title{
    font-weight: bold;
    font-family: Roboto;
    font-size: 19px;
    margin: 0px 0px 0px 5px;
  }
  .toggle_button{
    font-weight: bold;
    font-family: Roboto;
    font-size: 16px;
  
  }
}

  .action-button{
    font-size: 14px;
    margin: 0px 10px 0px 5px;
    .delivery-button{
      border: 1px solid var(--ion-color-primary);
      border-radius: 30px;
      
    }
    
  }
