<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary" slot="start" (click)='fermer()'>
      <ion-button class= 'chevron-back'>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title >Parcels Details</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-list *ngFor="let d of data">
    <ion-row>
      <ion-col>
        <ion-item lines = 'inset' class= 'parcel-detail'>
          <ion-icon name="cube-outline" color = 'primary'></ion-icon> 
          <ion-label class= 'parcel-title'>PARCEL</ion-label>
          <ion-button slot="end" class = 'toggle_button' color = 'primary' fill = 'clear' (click)='parcelDetails(d)'>{{d.textButton}}</ion-button>
        </ion-item>
       </ion-col>
    </ion-row>
    
    <div *ngIf="d.showDetails" class="reusable_accordion template_accordion">
      <ion-item class = 'yes-id'> <ion-label >N°: YES08816663902</ion-label> </ion-item>
      <p class= 'description'><span>Description:</span><br><span>Declared value:</span><br><span>Shipping cost:</span><br><span>Shipping Option:</span></p>
    </div>
    <ion-row>
      <ion-col>
        <ion-item lines = 'inset'  class= 'parcel-detail' >
          <ion-icon name="person-outline"  color = 'primary' ></ion-icon> 
          <ion-label class= 'parcel-title'>RECIPIENT</ion-label>
          <ion-button slot="end" class = 'toggle_button' color = 'primary' fill = 'clear' (click)='recipientDetails(d)'>{{d.textButton}}</ion-button>
        </ion-item>
       </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines = 'inset'  class= 'parcel-detail' >
          <ion-icon name="map-outline"  color = 'primary' ></ion-icon> 
          <ion-label class= 'parcel-title'> MAP</ion-label>
          <ion-button slot="end" class = 'toggle_button' color = 'primary' fill = 'clear' (click)='mapDetails(d)'>SHOW MAP</ion-button>
        </ion-item >
       </ion-col>
    </ion-row>
    
  </ion-list>
  <ion-item class ='action-button'>
    <ion-button  class ='delivery-button' fill = 'clear' color ='primary' shape='round'>DELIVERY PROOF<ion-icon  color ='primary' name="checkmark-outline" ></ion-icon></ion-button>
    <ion-button slot = 'end' color ='danger' shape='round'>SIGNALLING<ion-icon name="warning-outline"></ion-icon></ion-button>
  </ion-item>

</ion-content>
