<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons  slot="start" (click)='fermer()'>
      <ion-button class="chevron-back">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title >Complete Registration</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
<ion-segment scrollable value="address" [(ngModel)]="segment">
  <ion-segment-button value="address">
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>Address</ion-label>
  </ion-segment-button>
  <ion-segment-button value="transport">
    <ion-icon name="paper-plane-outline"></ion-icon>
    <ion-label>Transport</ion-label>
  </ion-segment-button>
  <ion-segment-button value="validation">
    <ion-icon name="checkmark-circle-outline"></ion-icon>
    <ion-label>Validation</ion-label>
  </ion-segment-button>
</ion-segment>


<div [ngSwitch]="segment">
<div *ngSwitchCase="'address'">

<ion-grid>
  <ion-col>
<form>
  <ion-row>
    <ion-col center text-center>
       
            <ion-select placeholder="Select a country..." class="form-input" [interfaceOptions]="customPopoverOptions" interface="popover" >
                <ion-select-option *ngFor="let country of countries" [value]="country.name">{{country.flag}} {{country.name}}</ion-select-option>
            </ion-select>
      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col center text-center>
       
            <ion-select placeholder="Select a State/Province..." class="form-input" class="form-input" [interfaceOptions]="customPopoverOptions" interface="popover">
                <ion-select-option *ngFor="let province of provinces" [value]="province">{{province.name}}</ion-select-option>
            </ion-select>
      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col center text-center>
       
            <ion-select placeholder="select a District/LGA..." class="form-input" class="form-input" [interfaceOptions]="customPopoverOptions" interface="popover">
                <ion-select-option *ngFor="let district of districts" [value]="country">{{district.name}}</ion-select-option>
            </ion-select>
      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col center text-center>
       
            <ion-select placeholder="select a city..." class="form-input" class="form-input" [interfaceOptions]="customPopoverOptions" interface="popover">
                <ion-select-option *ngFor="let city of cities" [value]="country">{{city.name + ' ' + city.unity}}</ion-select-option>
            </ion-select>
      
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col center text-center>
          <ion-item class="form-input" >
              <ion-input type="text" placeholder="Street"></ion-input>
          </ion-item>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col center text-center>
        <ion-item class="form-input" >
            <ion-input type="text" placeholder="Other information"></ion-input>
        </ion-item>
    </ion-col>
</ion-row>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
      </ion-col>
      <ion-col size="3">
      </ion-col>
      <ion-col size="6">
                <ion-button color="primary"  type="submit" expand="full" shape="round" (click)="goTransport()">
                    <ion-label>Next</ion-label>
                </ion-button>
​
        </ion-col>
    </ion-row>
</ion-grid>
</form>
</ion-col>
</ion-grid>
​
</div>


<!-- TRANSPORT -->
<div *ngSwitchCase="'transport'">
  <ion-grid>
      <ion-col>

        <ion-row>
          <ion-col center text-center>
              <ion-item class="form-input" >
                  <ion-input  type="text" placeholder="About me"></ion-input>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-grid>
        <ion-item class = 'yes-minus-plus'>
          <ion-icon slot='start'color="primary" name="remove-circle" (click)="decrement()" class = "minus-plus"></ion-icon>
          <p  class = 'weight'>Available weight<br><span>{{currentNumber}}Kg</span></p>
          <ion-icon  slot='end'color="primary" name="add-circle" (click)="increment()" class = "minus-plus"></ion-icon>
        </ion-item>
      </ion-grid>

​
  <ion-row>
  <ion-col center text-center >
     
          <ion-select placeholder="Means of transport" class="form-input" [interfaceOptions]="customPopoverOptions" interface="popover">
              <ion-select-option *ngFor="let transport of transports" [value]="province">{{transport.name}}</ion-select-option>
          </ion-select>
    
  </ion-col>
  </ion-row>
    <ion-row>
  <ion-col center text-center>
     
          <ion-select placeholder="Transport type" class="form-input" [interfaceOptions]="customPopoverOptions" interface="popover">
              <ion-select-option *ngFor="let t of types" [value]="country">{{t.name}}</ion-select-option>
          </ion-select>
    
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col center text-center>
      <ion-item  class="upload-buttons">
​
        <ion-label color="primary">ID card Photo</ion-label>
        <ion-buttons (click)='presentActionSheet(uploadType.PERMIS)'>
             <ion-button color="primary" fill="{{ cssPhotoPermi === '' ? 'clear' : 'outline' }}" shape="round">
                    <ion-icon color="primary" name="camera-outline" ></ion-icon>
              </ion-button>
       </ion-buttons>
​
       </ion-item>
    </ion-col>
  </ion-row>
​
​
  <ion-row>
    <ion-col >
      <ion-item class="upload-buttons">
​
        <ion-label color="primary">Driving License Photo</ion-label>
        <ion-buttons (click)='presentActionSheet(uploadType.PERMIS)'>
             <ion-button color="primary" fill="{{ cssPhotoPermi === '' ? 'clear' : 'outline' }}" shape="round" >
                    <ion-icon color="primary" name="camera-outline" ></ion-icon>
              </ion-button>
       </ion-buttons>
​
       </ion-item>
    </ion-col>
  </ion-row>
​
      </ion-col>
  </ion-grid>
​
  <ion-grid>
      <ion-row class = 'follow-up-buttons'>
          <ion-col >
                <ion-button color= "primary" type="submit" expand="full" shape="round" (click)="backAdresse()">
                  Back
              </ion-button>
          </ion-col>
          <ion-col>
                <ion-button type="submit" fill="outline" expand="full" shape="round" (click)="goValidation()">
                  Next
              </ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
</div>

<!-- END TRANSPORT -->

<!-- VALIDATION -->
<div *ngSwitchCase="'validation'">
  <ion-grid>
  </ion-grid>
​
  <ion-grid>
      <ion-row class = 'follow-up-buttons'>
          <ion-col >
            <ion-button color= "primary" fill="outline" type="submit" expand="full" shape="round" (click)="backTransport()">Back</ion-button>    
          </ion-col>
          <ion-col >
            <ion-button type="submit"  expand="full" shape="round" (click)="goValidation()" routerLink = '/success-registration'> Confirm</ion-button>
          </ion-col>
        </ion-row>

  </ion-grid>
</div>

<!-- END VALIDATION -->
</div>

 

</ion-content>