
.chevron-back {
  
  font-weight: bold;
  font-family: FagoCo !important;
  height: 56px;
  font-size: 32px;
  margin: 0px 0px 0px 15px;
}

ion-title {
  font-family: FagoCo !important;
  font-weight: bold;
  font-size: 32px;
  padding: 0px;
  margin-left: 20px;
  
} 
.yes-minus-plus{
  margin: 0px 0px 0px 5px;
.minus-plus {
  font-size: 50px;
 
}}
.weight{
  font-size: 19px;
  font-family: roboto;
  margin:0px 0px 0px 20px;
  padding: 0px;
  span{
    font-size: 28px;
    font-weight: bold;
    margin-left: 34px;
   
  }
}


ion-input, ion-textarea, ion-select {
  --placeholder-color: var(--ion-color-primary);
}

.form-input{

  border: 1px solid var(--ion-color-dark);
  border-radius: 30px;
  color: var(--ion-color-dark);
  height: 56px;
  margin: 0px 24px 0px 24px;
   
}
ion-button {
  font-weight: bold;
  font-family: FagoCo !important;
  height: 56px;
  font-size: 32px; 
  margin-right: 24px;
  position: relative;
}
.follow-up-buttons{
  margin: -40px 0px 0px 24px;
  
}
.upload-buttons{
   height: 56px;
   margin: 0px -15px 0px 10px;
}

