<ion-content >

  
    <ion-list-header>
    </ion-list-header>

    <ion-row>
        <ion-col>
          <ion-item  class = "message-item">
            <ion-icon name="ellipse"  color = 'secondary' > </ion-icon> 
            <ion-label  class = "message-title">Message</ion-label>
           <ion-button slot="end" color = 'secondary' fill = 'clear' class = "toggle_button">READ</ion-button>
         </ion-item>
         </ion-col>
      </ion-row>
    <ion-list *ngFor="let d of data">
       

       <ion-row>
        <ion-col>
          <ion-item  class = "message-item">
            <ion-icon name="ellipse"  color = 'primary' > </ion-icon> 
            <ion-label  class = "message-title">{{d.title}}</ion-label>
           <ion-button slot="end" color = 'primary' fill = 'clear' (click)='readMessage(d)' class = "toggle_button">{{d.textButton}}</ion-button>
         </ion-item>
         </ion-col>
      </ion-row>
    
      <div *ngIf="d.showDetails" class="reusable_accordion ">
        <p class= 'description'>PARCEL: Example Bangui, “KG<br>Type: Parcel/Package<br>Delivery Option: BUSINESS<br>Your commission: 812 XOF</p>
        <p class= 'description'>Pick up: You collect the package from <br>Oumar Basse (YOBANTE EXPRESS)<br>+221 77 932 32 25<br>Sénégal | Dakar | Fann | Rue Fn 64</p>
        <ion-item class ='action-button'>
            <ion-button  color ='primary' shape='round'>GEOLOCALISATION<ion-icon name="location-outline"></ion-icon></ion-button>
          </ion-item>
        <p class= 'description'>Delivery: Then you ship the parcel to <br>Sénégal | Dakar | Zone De Captage</p>
      </div>
    </ion-list>

  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" class="yes-fab">
    <ion-fab-button (click)='scanColis()'>
        <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
