.yes-fab {
  padding-bottom: 10%;
  padding-right: 3%;
}

.message-item{
  margin: 0px 0px -10px -3px;
  .message-title{
    font-weight: bold;
    font-family: Roboto;
    font-size: 19px;
    padding: 0;
    margin: 0px 0px 0px 5px;
  }
  .toggle_button{
    font-weight: bold;
    font-family: Roboto;
    font-size: 16px;
  
  }
}

div.reusable_accordion {
   
  padding: 0px 0px 0px 20px;
  margin: 0;
  height:auto;
  width: auto;
  .description{
    font-family: Roboto;
    font-size: 14px;
    padding-left:37px;
  }
  .action-button{
    padding-left: 15px;
  }
}
