<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary" slot="start" (click)='fermer()'>
      <ion-button class="chevron-back">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title>Settings</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div>
      <div (click)="userDetails()" >
        
          <ion-item class = "toggle_button">
            <ion-icon name="person-outline" color = 'light'></ion-icon>
            <ion-label >User</ion-label>
            <ion-icon color = 'light' slot="end" [name] = "userExpanded ? 'caret-up-outline' : 'caret-down-outline'"></ion-icon>
          </ion-item>      
        
      </div>
      <app-accordion  [expanded]="this.userExpanded" >
        <div class="reusable_accordion template_accordion" >
           <div>
              <div class="template_containers">
                <ion-label >Name:</ion-label>
                <p>Giuliana</p>
                <ion-label>Email:</ion-label>
                <p>gigi@hey.com</p>
                <ion-label>Phone number:</ion-label>
                <p>+221776685975</p>
                
                <ion-col> <ion-item class = 'availability'>
                  <ion-label>AVAILABLE: </ion-label>
                  <ion-toggle slot="end"  checked></ion-toggle>
                </ion-item></ion-col>
               
                <div>
                  <div (click)="changePassword()" *ngIf="!opened"  center text-center> 
                   
                    <ion-row>
                      <ion-col center text-center >
                        <ion-button expand="full" color='dark' type="submit"  class="setting-action" fill="outline" shape="round">CHANGE PASSWORD</ion-button>
                      </ion-col>
                    </ion-row>
                  </div>
                  <div class="panel" [ngClass]="opened ? 'active' : ''">
                   
                      <form>  

                        <ion-item class="form-input">
                          <ion-icon color = 'secondary' name="lock-closed-outline" ></ion-icon>
                          <ion-input type="text" placeholder="Old password"></ion-input>
                        </ion-item>
                
                        <ion-item class="form-input">
                          <ion-icon color = 'secondary' name="lock-closed-outline" ></ion-icon>
                          <ion-input type="text" placeholder="New password"></ion-input>
                        </ion-item>
                        <ion-item  class="form-input">
                          <ion-icon color = 'secondary' name="lock-closed-outline" ></ion-icon>
                          <ion-input type="text" placeholder="Retype new password" ></ion-input>
                        </ion-item>
                        <ion-button expand="full" color = 'secondary' type="submit"  fill="clear" shape="round" class="save-button">SAVE</ion-button>             
                      </form>
                  </div>
                   
                </div>
                
                
              </div>
           </div>
        </div>
     </app-accordion>

    </div>

    <div>
      <div (click)="showBarcode()">
      
        <ion-item  class = "toggle_button">
          <ion-icon src="./assets/icon/barcode.svg" ></ion-icon>
          <ion-label > Barcode </ion-label>
          <ion-icon color = 'light' slot="end" [name] = "barcodeExpanded ? 'caret-up-outline' : 'caret-down-outline'" ></ion-icon>
        </ion-item> 
      </div>
      <app-accordion  [expanded]="this.barcodeExpanded" >
        <div class="reusable_accordion template_accordion" >
           <div *ngFor="let item of this.items">
              <div class="template_containers">
                {{item.name}}
              </div>
           </div>
        </div>
     </app-accordion>

    </div>

    <div>
      <div (click)="transportDetails()" >
        <ion-item  class = "toggle_button">
          <ion-icon src="./assets/icon/transport.svg" ></ion-icon>
          <ion-label > Transport </ion-label>
          <ion-icon color = 'light' slot="end" [name] = "transportExpanded ? 'caret-up-outline' : 'caret-down-outline'"></ion-icon>
        </ion-item> 
      </div>
      <app-accordion  [expanded]="this.transportExpanded" >
        <div class="reusable_accordion template_accordion" >
           <div>
              <div class="template_containers">
                <ion-grid>
                    <ion-item class = 'yes-minus-plus'>
                      <ion-icon slot='start'color="secondary" name="remove-circle" (click)="decrement()" class = "minus-plus"></ion-icon>
                      <p class = 'weight'>Available weight <br><br><span>{{currentNumber}}Kg</span></p>
                      <ion-icon  slot='end'color="secondary" name="add-circle" (click)="increment()" class = "minus-plus"></ion-icon>
                     
                    </ion-item>
                  <ion-row>
                    <ion-col center text-center >
                            <ion-label>Means of transport</ion-label>
                            <ion-select placeholder="Means of transport" class="form-input" [interfaceOptions]="customPopoverOptions" interface="popover">
                                <ion-select-option *ngFor="let transport of transports" [value]="province">{{transport.name}}</ion-select-option>
                            </ion-select>
                      
                    </ion-col>
                    </ion-row>
                      <ion-row>
                    <ion-col center text-center>
                      <ion-label>Transport type</ion-label>
                            <ion-select placeholder="Transport type" class="form-input" [interfaceOptions]="customPopoverOptions" interface="popover">
                                <ion-select-option *ngFor="let t of types" [value]="country">{{t.name}}</ion-select-option>
                            </ion-select>
                      
                    </ion-col>
                    </ion-row>
              
              
              ​
              </ion-grid>
              </div>
           </div>
        </div>
     </app-accordion>

    </div>

</ion-content>