ion-button {
  
  font-weight: bold;
  font-family: FagoCo !important;
  height: 25.66px;
  font-size: 32px;
  margin: 0px 24px 0px 24px;
  
}
ion-input, ion-textarea, ion-select {
  --placeholder-color: var(--ion-color-secondary);
}

ion-title {
  font-family: FagoCo !important;
  font-weight: bold;
  font-size: 32px;
  padding-left: 10px;
  margin: 0px;
  
}
.chevron-back {
  
  font-weight: bold;
  font-family: FagoCo !important;
  height: 56px;
  font-size: 32px;
  margin: 0px 0px 0px 15px;
}

div .reusable_accordion { 
   
  padding: 60px 0px 0px 20px;
  margin: 0;
  line-height: 12px;
  height:auto;
  width: auto;
  .availability{
    margin: 0px 0px 0px -15px;

  }
}
div .template_containers{
 ion-label{
  font-weight: bold;
 }
}

.toggle_button {
  --background: var(--ion-color-secondary);
  color: rgb(249, 250, 246);
  --border-radius: 30px;
  font-size: 19px;
  font-family: Roboto;
  --height: 56px;
  margin: 20px 24px 0px 24px;
  //padding: 0px ;
  
}
.setting-action{
  border-radius: 30px;
  font-size: 19px;
  font-family: Roboto;
  margin: 10px 15px 10px 0px;
  border: 1px solid var(--ion-color-dark);
  font-weight: bold;
  height: 48px;
}
.form-input{

  border: 1px solid var(--ion-color-dark);
  border-radius: 30px;
  font-size: 19px;
  font-family: roboto;
  height: 48px;
  margin: 10px 15px 10px 0px;
  
   
}
.save-button{
  border: 1px solid var(--ion-color-dark);
  border-radius: 30px;
  font-size: 19px;
  font-family: roboto;
  height: 48px;
  margin: 10px 15px 10px 0px;
}
.panel {
  display: none;
  overflow: hidden;
}

.panel.active {

  display: block;
  overflow: visible;
}
.yes-minus-plus{
  margin: 0px -5px 0px -15px;
.minus-plus {
  font-size: 50px;
 
}}
.weight{
  font-size: 19px;
  font-family: roboto;
  margin: 0px;
  padding: 0px;
  span{
    font-size: 28px;
    font-weight: bold;
    margin-left: 24px;
   
  }
}
ion-toggle {
  --background:  var(--ion-color-dark);
  --background-checked: var(--ion-color-secondary);

  --handle-background:  var(--ion-color-light);
  --handle-background-checked:   var(--ion-color-light);
}