<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src='assets/images/slide01.svg'>
            <h2>Welcome!</h2>
            <p class = "first_slide">Send your parcels at 40% <br> cheaper and 2X faster than <br> anywhere else!</p>
        </ion-slide>
        <ion-slide>
            <img src='assets/images/slide02.svg'>
            <h2>Sender</h2>
            <p>Ship simply and efficiently <br> your parcels anywhere from <br> your home or office</p>
        </ion-slide>
        <ion-slide>
            <img src='assets/images/slide03.svg'>
            <h2>Carrier</h2>
            <p>Easily ship parcels while <br> traveling and earn money </p>
        </ion-slide>
    </ion-slides>
    <app-start-button></app-start-button>
</ion-content>