ion-slide {
  display: block;
  
  

  h2 {
      font-size: 36;
      font-weight: bold;
      font-family: FagoCo;
      margin: 0px 0px -20px 0px;
     
  }
  p {
    font-size: 24px;
    font-size: Roboto;
    margin-left: 24px;
    
   
   
  } 
  .first_slide{
      font-size: 25px;
      font-family: Roboto;
  } 
}
