<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)='fermer()'>
      <ion-button  class="chevron-back" >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title>Registration</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content padding='true'>
  <ion-row>
    <ion-text color="dark" class="yes-title">
        <h1>Carrier</h1>
    </ion-text>
</ion-row>
  <form >
    <ion-row>
      <ion-col center text-center>
          <ion-item class="form-input" >
                <ion-label color='primary' >
                  <ion-icon name="person-outline" ></ion-icon>
                </ion-label>
              <ion-input type="text" placeholder="First name"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center text-center>
          <ion-item class="form-input" >
                <ion-label color='primary' >
                  <ion-icon name="person-outline" ></ion-icon>
                </ion-label>
              <ion-input type="text"  placeholder="Last name"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center text-center>
          <ion-item class="form-input" >
              <ion-label color='primary' color='primary' >
                  <ion-icon class = 'mail-icon'  name="mail-outline"></ion-icon>
              </ion-label>
              <ion-input  type="email" placeholder="E-mail"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>


      <ion-grid>
        <ion-row class = 'phone-select'>
            <ion-col>
              <ion-item   class="code">
                <ion-select placeholder="Country" >
                  <ion-select-option *ngFor="let country of countries" [value]="country" >{{country.code}}</ion-select-option>
                </ion-select>
              </ion-item>
              </ion-col>
             
             
            <ion-col>
              <ion-item   center text-center class="phone_number">
              <ion-label> <ion-icon name="call-outline"  color='primary'></ion-icon></ion-label>
              <ion-input type="number"  placeholder="Phone number"  ></ion-input>
            </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    
    <ion-row>
        <ion-col center text-center>
            <ion-item class="form-input" >
                <ion-label color='primary' >
                    <ion-icon name="lock-closed-outline" ></ion-icon></ion-label>
                <ion-input type="password" placeholder="Password"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center text-center>
          <ion-item class="form-input" >
              <ion-label color='primary' >
                  <ion-icon name="lock-closed-outline" ></ion-icon></ion-label>
              <ion-input type="password" placeholder="Retype your password"></ion-input>
          </ion-item>
      </ion-col>
  </ion-row>
    <br>
    <ion-row>
        <ion-col center text-center>
            <ion-button expand="full" color='primary' type="submit" shape="round" class = "sign-up">Sign Up</ion-button>
        </ion-col>
    </ion-row>
</form>
  </ion-content>
