.form-input{

  border: 1px solid var(--ion-color-dark);
  border-radius: 30px;
   --placeholder-color: var(--ion-color-primary);
   color: var(--ion-color-dark);
   font-size: 19px;
   font-family: Roboto;
   height: 56px;
   margin: 0px 24px 0px 24px;
}

ion-input, ion-textarea, ion-select {
  --placeholder-color: var(--ion-color-primary);
}

ion-button {
  
  font-weight: bold;
  font-family: FagoCo !important;
  height: 56px;
  font-size: 32px;
 
  
}

.chevron-back {
  
  font-weight: bold;
  font-family: FagoCo !important;
  height: 56px;
  font-size: 32px;
  margin: 0px 0px 0px 15px;
}

.yes-title {
  
  h1{
    font-size: 32px;
    font-weight: bold;
    font-family: FagoCo !important;
    margin: 20px 0px 10px 30px;
   
  }
}

ion-title {
  font-family: FagoCo !important;
  font-weight: bold;
  font-size: 32px;
  padding-left: 0px;
  margin-right: 33px;
  
}
.sign-up{
 margin: -15px 24px 0px 24px;
}
.code{
  border: 1px solid var(--ion-color-dark);
  border-radius: 30px;
  --placeholder-color: var(--ion-color-primary);
  color: var(--ion-color-dark);
  font-size: 19px;
  font-family: Roboto;
  height: 56px;
  margin: 0px 0px 0px 0px;
  
}
.phone_number{
  border: 1px solid var(--ion-color-dark);
  border-radius: 30px;
   --placeholder-color: var(--ion-color-primary);
   color: var(--ion-color-dark);
   font-size: 19px;
   font-family: Roboto;
   height: 56px;
   margin: 0px 0px 0px 0px;
  
  
}
.phone-select{
  margin: -5px 20px -5px 20px;
  
}

.mail-icon{
  padding-top: 25%;
}