<ion-content>
      <ion-slide>
        <img src="assets/images/icon.png" class="img-logo"/>
          <p>Check your email and<br>follow the steps to reset<br> your password.</p>
      </ion-slide>
</ion-content>