  <ion-content >
    <ion-grid>

      <ion-row >
          <ion-col>
              <img class="img-logo" src="assets/images/icon.png" />
          </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
              <form >
                  <ion-row>
                      <ion-col center text-center>
                          <ion-item class="form-input" >
                              <ion-label color='primary' >
                                  <ion-icon name="person-outline"></ion-icon>
                                </ion-label>
                              <ion-input  type="email" placeholder="E-mail address" required="true"></ion-input>
                          </ion-item>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col center text-center>
                          <ion-item class="form-input">
                              <ion-label color='primary' >
                                  <ion-icon name="lock-closed-outline" ></ion-icon>
                                </ion-label>
                              <ion-input type="password"  placeholder="Password"></ion-input>
                          </ion-item>
                      </ion-col>
                  </ion-row>
                  <br>
                  <ion-row>
                      <ion-col center text-center>
                          <ion-button expand="full" color='primary' type="submit" shape="round">Log in</ion-button>
                      </ion-col>
                  </ion-row>
              </form>
          </ion-col>
      </ion-row>

      <ion-item center text-center lines='none'>
          <a  class="align-center-link" routerLink = '/password'>Forget password?</a>
      </ion-item>
      <br>
      <ion-row>
        <ion-col center text-center >
          <ion-button expand="full" color='dark' type="submit"  fill="outline" shape="round" routerLink = '/signup'>Sign Up</ion-button>
        </ion-col>
      </ion-row>



  </ion-grid>

  
  </ion-content>