.content-md {
  color: #000 !important;
  background-color: #ffffff !important;
}


.align-center-link {
  padding-left: 25% !important;
  color: #000 !important;
  font-size: 18px;
   font-family: roboto;
   margin-bottom: 20px;
}
.form-input{

  border: 1px solid var(--ion-color-dark);
  border-radius: 30px;
   color: var(--ion-color-dark);
   font-size: 18px;
   font-family: roboto;
   height: 56px;
   margin: 5px 24px 0px 24px;
}
ion-button {
  
  font-weight: bold;
  font-family: FagoCo !important;
  height: 56px;
  font-size: 32px;
  margin: -10px 24px 0px 24px;
}

.img-logo {
  max-width: 100%;
  border: 0;
  margin: 80px 0px 0px 64px;
}
ion-input, ion-textarea, ion-select {
  --placeholder-color: var(--ion-color-primary);
}
