ion-grid{
  overflow-y: scroll;
  height: 400px;
}
ion-col{
  p{
    font-family: roboto;
    font-size: 19px;
  }
}
.url-title{
  font-family: FagoCo !important;
  font-weight: bold;
  font-size: 32px;
  padding: 0px;
  margin: 0px 0px 0px -45px;
  position:fixed;
}
.span-title{
  font-weight: normal;
}
ion-button {
  
  font-weight: bold;
  font-family: FagoCo !important;
  height: 56px;
  font-size: 32px;
  margin: 0px 24px 0px 24px;
  
}
.yes-title {
  margin: 0px 24px 0px 24px;
  h1{
    font-size: 32px;
    font-weight: bold;
    font-family: FagoCo !important;
   
  }  
  
}