    <ion-header>
    <ion-toolbar color="primary">
    <ion-title  class = 'url-title'>YobanteExpress<span class ="span-title">.com</span></ion-title>
    </ion-toolbar>
    </ion-header>
  
  <ion-content >
  <ion-row center text-center>
    <ion-text color="dark" class="yes-title">
        <h1>Terms and conditions of use</h1>
        <ion-grid>
          <ion-row>
              <ion-col size="12">
      
                  <p>
                      YOBANTE EXPRESS or Yobanté refers to YOBANTE EXPRESS Inc. an African company with its Head Office set up
                      in Delaware, USA or its subsidiaries or trustees.
                  </p>
      
                  <p>
                      This Charter defines the general conditions of use of YOBANTE EXPRESS services in accordance with
                      the legislation in force in the country where the activity is carried out (in particular the Code of
                      Civil Obligations
                      civil
                      and Commercial Obligations (COCC) as well as the Conventions and Treaties ratified by that country). It
                      also defines
                      the terms of use of the platform in accordance with the respect of public order and good
                      morality as well as the privacy of users and partners.
      
                  </p>
      
                  <p>
                      The purpose of these stipulations is to define the general conditions of use of Yobanté Express.
                      They present the rights and obligations of the users, and constitute the Contract which binds them to
                      the
                      Yobanté Express company.
                  </p>
      
                  <p>
                      The use of the Yobante Express services is reserved to the Users who have previously taken knowledge and
                      accepted without reserve these Conditions of use.
                  </p>
      
                  <p>
                      Yobante Express reserves the right to modify at any time the terms of this charter.
                  </p>
      
                  <ol>
                      <li>Definitions</li>
                  </ol>
                  <p>
                      In these Terms of Use, capitalized terms have the meanings set forth below, whether used in the singular
                      or plural
                      have the meanings set forth below, whether used in the singular or plural:
      
                  <p>« Terms of Use » means these terms and conditions of use of the site
                      Yobante Express website.</p>
                  <p>« Consignment note » means the writing that evidences the contract of carriage of the parcel.</p>
                  <p>« Sender » refers to the person making the delivery request.</p>
                  <p>« Recipient » is the one who is responsible for the final receipt of the package.</p>
                  <p>« Carrier » means any person or entity registered on the platform of Yobante Express
                      and responsible for bringing in
                      one or more specific parcels and accepts in doing so the missions and charges that
                      incumbent on a
                      carrier of goods.</p>
                  <p>« Registered User » means any person who has created an account on Yobanté Express, either by
                      respecting the online registration procedure described below, or by registering directly.</p>
                  <ol start="2">
                      <li>
                          Consent, capacity, purpose and cause
                      </li>
                  </ol>
                  <p>The contracting party undertakes to respect these Terms of Use throughout its use of the
                      Service. In case of disagreement with these terms and conditions the individual or legal entity must not
                      use the Service.</p>
                  <p>The User declares that he/she has the capacity to contract, in accordance with the provisions of the
                      legislation
                      in force in his/her country of practice. The User who is a minor or an incapacitated adult guarantees to
                      have received
                      the express authorization of his tutor or guardian.</p>
                  <p>In the event that the User acts in the name and on behalf of another individual or legal entity, he or
                      she
                      guarantees to have received the delegation and the necessary power for such an engagement.</p>
                  <p>The object and cause of the contract is the transportation of goods, documents, and other types of
                      parcels within and/or outside the
                      the country of activity in accordance with the laws and regulations in force in the territory of
                      activity.
                      territory of activity.</p>
                  <ol start="3">
                      <li>
                          Responsibilities and obligations of the carrier
                      </li>
                  </ol>
                  <p>The Carrier is and shall remain an independent contractor and this Agreement shall not be construed as
                      create an association, partnership, joint venture, principal and agent or employer and employee
                      relationship between relationship between Yobante Express and the Carrier or any of the Carrier's
                      employees within the meaning Carrier's employees within the meaning of any applicable legal provisions.
                      Carrier shall not be entitled to claim to be other than an independent contractor and is not authorized
                      to bind Yobante Express or any of its partners in any way. partners in any manner whatsoever.
                      As an independent contractor, the Carrier shall be solely responsible for all matters relating to
                      compliance with the regulations applicable to its professional activity, labor legislation and the
                      provision of the the provision of the Services, including matters relating to obtaining work permits and
                      other permits and other required authorizations, payment of all payroll taxes in accordance with
                      applicable applicable laws, and the purchase of all appropriate insurance (including, without
                      limitation, health health, accident, loss of income and death insurance) consistent with the Carrier's
                      activities in the Carrier's activities under this Agreement.
                      Yobante Express shall not be liable for any taxes, social security contributions, pension or other
                      payments or taxes whatsoever in respect of the Carrier and the Carrier shall indemnify and hold and the
                      Carrier shall indemnify and hold harmless Yobante Express from any liability in respect of such payments
                      or taxes if caused by its fault.
                  </p>
                  <p> The Carrier is subject to compliance with the regulations and privacy policy in force at YOBANTE
                      EXPRESS.
                      Therefore, the Carrier agrees to comply with all laws and regulations regulations applicable to the
                      services and shall be responsible to YOBANTE EXPRESS for the compliance of its employees, agents and/or
                      servants of all applicable laws and regulations.
                      The Carrier shall be responsible for any handling charges necessary for the delivery of the goods. It is
                      Carrier's responsibility to train its employees, agents and/or servants to comply with all comply with
                      all applicable laws and regulations. As an employer, the Carrier is responsible for hiring, directing
                      and supervising its employees agents and/or servants.
      
                  </p>
                  <p>When picking up the goods, the carrier is obliged to check:</p>
                  <p> • the accuracy of the information in the consignment note concerning the number of packages, their marks
                      and their numbers;</p>
                  <p> • the apparent condition of the goods and their packaging.</p>
                  <p>If the carrier has no reasonable means of checking the accuracy of the particulars referred to, he shall
                      shall enter reservations in the consignment note, which must be substantiated.
                      The sender shall have the right to require the carrier to verify the gross weight or otherwise expressed
                      quantity of the goods. otherwise expressed of the goods. He may also require verification of the
                      contents of the package.</p>
                  <em>Delivery</em>
                  <p>
                      The Carrier shall provide a quality service and undertakes to deliver the goods on time, without loss or
                      damage.
                      The Carrier shall deliver the goods tendered to it for delivery in the condition in which it received
                      them from the sender. The Carrier shall ensure that the goods to be delivered are delivered without
                      damage, deterioration or loss due to him and to the recipient that Yobante Express has indicated.
                      In case of loss, deterioration or damage due to its fault, error on the recipient, the Carrier
                      undertakes to reimburse the Customer for the goods of the same nature, quality and brand or to reimburse
                      the value of the goods including the expenses related to its acquisition.
                      The independent carrier is obliged to deliver the goods to the recipient at the place foreseen for the
                      place of delivery, in the absence of a Yobante Express relay point located in the area, and to give him
                      the copy of the the consignment note that accompanies the goods, all against electronic discharge from
                      the the application of Yobante Express or physical discharge. The delivery must be made within the time
                      limit prescribed by Yobante Express, or in the absence of a prescribed time, within the time that it is
                      reasonable to to a diligent carrier, taking into account the circumstances of the case. If there is a
                      relay point located in the area, the carrier delivers the package to the relay point. The relayer is The
                      Relaiseur is thus required to check the package and acknowledge receipt.
                      Then, the relayer is required to notify the recipient of the arrival of the goods and the time limit for
                      their recovery, unless for collection, unless the delivery of the goods is made to the residence or
                      place of business of the residence or place of business of the consignee.
                      Before taking delivery of the goods, the recipient is obliged to pay the amount of the claims arising
                      from the consignment note. of the consignment note. In the event of a dispute in this respect, the
                      carrier shall only be obliged to deliver the goods only if a security is provided by the consignee.
                      Unless expressly stated by YOBANTE EXPRESS, the carrier does not have the right to charge either the
                      sender or the recipient of the parcel.
                  </p>
                  <em>Dispute</em>
                  <p>
                      The recipient shall give written notice to the relayer of the nature of the loss or damage not later
                      than the first business day following the date of delivery, in the event of loss or damage. not later
                      than the first business day following the date of delivery, in the case of apparent loss or damage
                      within seven days after the date of delivery, excluding Sundays and holidays, in the case of loss or
                      damage that is not apparent. In the absence of notice within these time limits, the goods are presumed
                      to be received in the condition described in the consignment note. Delay in delivery shall not give rise
                      to compensation unless written notice is given to the carrier within twenty-one days from the date of
                      the notice of arrival of the goods at the place designated for the date of arrival of the goods at the
                      place designated for delivery or, if applicable, the date of arrival of the goods at the residence or
                      place of business of the recipient when the delivery is to be made by the carrier.
                  </p>
                  <em>Payment</em>
                  <p>
                      In return for the Services provided for the benefit of Yobante Express, the Carrier shall receive a
                      percentage of 50% applied on the of commission applied on the price of transport of the parcel according
                      to the model of Yobante Express according to the point of collection (departure) and the point of
                      delivery (arrival) of the transported package. The remuneration of the carrier is automatically made on
                      the Yobante Express commission account Yobante Express commission account or delivery credit account of
                      the user after confirmation of the delivery.
                      He will be able when, he wishes it, to disburse it at the level of a point relay partner Yobante
                      Express, or online with the solutions authorized by Yobante Express or at the level of the points or
                      kiosks of Yobante Express or at the Headquarters of Yobante Express.
                      The Carrier will receive a remuneration whose payment will be made by cash or check or bank transfer or
                      by Mobile Banking solution.
                      The amount of the commission, which includes fees, costs and disbursements, is exclusive of VAT.
                      The Carrier is responsible for knowing whether it is subject to VAT. If so, the Carrier shall send
                      invoices from the Carrier to Yobante Express shall comply with any applicable law or regulation.
                      applicable law or regulation.
                      It is specified as necessary that insofar as the reimbursable expenses approved by Yobante are taken
                      into account in the determination of the basic amount of the Carrier's remuneration, Yobante shall not
                      reimburse the reimburse the Carrier for any Yobanté shall not reimburse the Carrier for any other
                      expenses. It is specified that Yobanté shall not be liable for the payment of any taxes or other duties
                      applicable to amounts paid under this Contract (with the exception of VAT if applicable), and
                      consequently Carrier hereby agrees to indemnify and hold harmless Yobanté from and against all claims
                      for payment of such taxes for which Carrier is liable.
      
                  </p>
                  <em>Confidentiality obligations</em>
                  <p> The parties agree not to disclose any confidential information, to keep tangible confidential
                      information in a safe place, not to use such information for any purpose other than in accordance with
                      in accordance with this Agreement, and to immediately notify the other party if requested or required to
                      required to disclose confidential information to a third party in connection with a civil or criminal
                      investigation or criminal investigation or judicial or administrative proceedings, so that YOBANTE
                      EXPRESS can, if it so decides, take the necessary appropriate protective measures if it so decides.
                      The confidentiality obligations set forth in this Article shall not apply to Confidential Information
                      that becomes public knowledge for any reason other than a breach by the Carrier of the obligations
                      contained herein that was known to the Carrier (as established by its own records or other admissible
                      evidence) prior to its communication by YOBANTE EXPRESS to the Carrier; that came into its possession
                      legitimately through a third party who has no confidentiality obligation with respect to such
                      information, or the disclosure of which is required by law, a court of competent jurisdiction, or any
                      official entity or body. Each party shall return to the other within ten (10) days of the earlier of
                      termination or expiration of this Agreement for any reason (or upon request of YOBANTE EXPRESS) all
                      materials in any form containing Confidential Information, including without limitation all documents,
                      data, specifications, samples, plans, drawings, models, blueprints, photographs, sketches, software and
                      other materials of YOBANTE EXPRESS and all reproductions thereof.
                      Nothing contained herein shall prevent YOBANTE EXPRESS from disclosing the terms of this Agreement,
                      including the identity of the Carrier and the terms of payment set forth herein, to any public or
                      regulatory entity that YOBANTE EXPRESS believes has a legitimate need to know. need to know.
      
                      The Parties undertake to comply with the legislation concerning the protection of personal data, both in
                      their personal data, both in the context of their own activities and in the context of their services on
                      behalf of each other. Each Party also undertakes to ensure that its employees, contractors and
                      subcontractors subcontractors comply with the same obligations. In the event of failure to comply with
                      this undertaking, each Party reserves the right to reserves the right to terminate the contract without
                      compensation. The Carrier undertakes not to transfer the personal data of the recipients of the goods to
                      be that YOBANTE EXPRESS communicates to it for the purposes of the execution of the service, without the
                      prior agreement of YOBANTE EXPRESS. The client also undertakes to delete the said data completely
                      without leaving any trace at the latest 3 months after the end of a delivery.
                  </p>
                  <ol start="4">
                      <li>Guarantees and Responsibilities of Yobanté Express</li>
                  </ol>
                  <p>Yobanté express makes every effort to offer the User verified and updated information, but cannot be held
                      responsible for errors, inaccuracies, omissions or lack of availability of information information
                      contained on its site, nor for any direct or indirect damage that may result. that may result from it.
                  </p>
                  <p>The User is solely responsible for the interpretation and use of the documentation thus provided.</p>
                  <p>The responsibility of Yobanté Express is strictly limited to the only losses and damages resulting
                      directly from its fault.</p>
                  <p>All other types of loss or damage are excluded (including, but not limited to, loss of revenue, interest
                      or future business) whether such loss or damage is special or consequential, and even if Yobanté
                      Express's attention was drawn to the risk of such loss or damage before or after acceptance of the
                      Shipment.</p>
                  <p>Claims are limited to a claim for payment of the actual value of the property, and settlement of said
                      claim shall constitute final settlement of any loss or damage in connection with said claim.</p>
                  <p>In accordance with its legal obligations, Yobanté Express can totally or partially delete a content after
                      a third party has claimed the illicit nature of the content concerned, and can, upon formal request from
                      the legal authorities, transmit the elements allowing the identification of the Users having contributed
                      to this content.</p>
                  <p>Yobanté Express makes every effort to provide the User with a secure site, particularly in terms of the
                      absence of viruses. However, it is the User's responsibility to protect his/her computer equipment or
                      network by using an anti-virus software that will be regularly updated by the User. The Company shall in
                      no case be held responsible for any intrusion of viruses into the User's computer equipment, nor for any
                      direct or indirect damage that may result.</p>
      
                  <ol start="5">
                      <li>Registration and Yobanté Express account</li>
                  </ol>
                  <p>The carrier can use the entire Yobanté Express service only after registering by creating an account, and
                      logging in with his email address and password.</p>
                  <p>The information required by Yobanté Express is necessary and mandatory for the creation of the User's
                      account. In particular, the email address may be used by Yobanté Express for the administration,
                      management and animation of the Service.</p>
                  <p>The User may modify all the information he has provided at the time of registration, using the management
                      settings of his account. He thus takes responsibility for all actions carried out by means of his login
                      information, including, but not limited to, his Contributions.</p>
                  <p>Identifiers and communications between Users must comply with the rules of good conduct set forth in
                      these Terms of Use.</p>
                  <p>In case of violation of these provisions, Yobanté Express may close the account without notice to the
                      exclusive and the User will no longer be able to use the Yobanté Express service.</p>
                  <p>The creation of an account implies acceptance of these Terms of Use. By registering, the User agrees to
                      receive information from Yobanté Express by email, from which he/she can unsubscribe by simple request
                      on the page.</p>
                  <ol start="6">
                      <li>Personal data</li>
                  </ol>
                  <p>
                      Yobanté Express takes care of the respect of the private life and the protection of the personal data of
                      the users of the site. Yobanté Express declines all responsibility in case of user's fault or use that
                      does not comply with the rules of good conduct. However, the responsibility could be shared if the
                      damage results from the negligence of the user and the failure of the security of the site.
                  </p>
                  <ol start="7">
                      <li>Rules of good conduct</li>
                  </ol>
                  <p>The User is the only one responsible for the information, messages and in a general way for any content
                      that he/she broadcasts via the interactive services of Yobanté Express such as the question and answer
                      services, comments, private messaging.</p>
                  <p>The use of the Service for the purpose of broadcasting to other Users messages of an advertising or
                      commercial nature, without prior authorization, is prohibited. The User agrees to show courtesy to other
                      Users.</p>
                  <p>All contributions and communications that openly condone crimes against humanity, incite racial hatred,
                      violence, are erotic, pornographic, defamatory, insulting, untruthful, offensive to the respect of
                      persons, contrary to public order or morality, as well as commercial interference, are prohibited.</p>
                  <p>The account of any User who does not respect these conditions may be closed, and his messages deleted,
                      without notice.</p>
                  <p>In case of violation of these provisions, the Contributor is solely responsible. In addition, Yobanté
                      Express may, depending on the seriousness of the facts, correct or delete the disputed Contributions
                      and/or close the account by right and without notice to the exclusive detriment of the User, and the
                      latter may no longer use the service.</p>
                  <p>In the event of illicit or malicious behavior, the User is encouraged to alert Yobanté Express by e-mail,
                      indicating in the subject line « Report abuse », by proceeding to a complete and faithful transcription
                      of
                      the litigious behavior or message if it is not public.</p>
                  <p>The User accepts that Yobanté Express may take the initiative, without prior notice, to delete, in whole
                      or in part, any content that he or she distributes or that is sent to him or her via the interactive
                      services, if this content is likely to infringe on the laws and regulations in force or good morals.
                  </p>
                  <ol start="8">
                      <li>Settlement of disputes</li>
                  </ol>
                  <em>Evidence agreement</em>
                  <p>
                      The parties agree that they may exchange the information necessary for the execution of the contract by
                      electronic means. Any electronic communication between the parties is presumed to have the same
                      probative force as a written document on paper.
                  </p>
                  <em>Partial nullity</em>
                  <p>
                      If any material provision of the Terms of Use is held to be invalid, or if such provision is held to be
                      unwritten, in whole or in part, pursuant to any law or regulation or as a result of a final court
                      decision, the remaining provisions shall remain in full force and effect between the parties.
                  </p>
                  <em>Applicable law</em>
                  <p>
                      These Terms of Use are governed by the laws of the country in which the activity is carried out
                      (national law and ratified conventions and treaties).
                  </p>
                  <em>Amicable dispute resolution procedure</em>
                  <p>
                      The parties undertake, in the event of difficulties in the performance of the contract and prior to any
                      termination, resolution and/or legal proceedings, to submit their dispute to an amicable conciliation or
                      arbitration procedure in accordance with the law of the country where the activity is carried out.
                      In this respect, the party wishing to initiate the amicable conciliation or arbitration procedure shall
                      notify the other party, by registered letter with acknowledgement of receipt, of its intention to
                      initiate the said procedure, specifying the difficulties of application encountered.
                      During the entire period during which such difficulties would be noted, the parties agree that the
                      continuity of the services provided for in the Terms of Use shall prevail over any other consideration.
                      In the absence of an agreement between the parties within fifteen (15) days following the notification
                      referred to above, the parties will regain full freedom of action.
                  </p>
                  <em>Assignment of jurisdiction</em>
                  <p>
                      In case of dispute, jurisdiction is expressly assigned to the regional court where the headquarters of
                      Yobante Express is located where the contract between the parties is formalized, notwithstanding
                      multiple defendants or warranty claims, even for emergency procedures or protective procedures in
                      summary proceedings or by petition.
      
                  </p>
                  <p class="ion-text-left">The Legal Representative of Yobante Express</p>
              </ion-col>
          </ion-row>
      </ion-grid>
      
    </ion-text>
</ion-row>
<ion-row>
  <ion-col center text-center>
      <ion-button expand="full" color='primary' type="submit" shape="round"> I agree</ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col center text-center>
      <ion-button expand="full" color='primary' fill="outline" type="submit" shape="round"> I do not accept</ion-button>
  </ion-col>
</ion-row>
  </ion-content>

