ion-slide {
  padding: 100px 0px 0px 0px;
  display: block;
  position: center;
  p {
    font-size: 32px;
    font-weight: bold;
  }  
}
ion-button {
  
  font-weight: bold;
  font-family: FagoCo !important;
  height: 56px;
  font-size: 32px;
  margin: 0px 24px 0px 24px;
  
}
.img-logo {
  max-width: 100%;
  border: 0;
  margin: 0px 0px 0px -44px;
}