<ion-content>
  <ion-slide>
    <img src='assets/images/icon.png' class = 'img-logo' alt="logo yobante express">
      <p>You're successfully<br>registred!</p>

      <ion-row>
        <ion-col center text-center >
          <ion-button expand="full" color='primary' type="submit" shape="round" routerLink = '/login'>Log in</ion-button>
        </ion-col>
      </ion-row>
  </ion-slide>
 
</ion-content>