<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary" slot="start" (click)='fermer()'>
      <ion-button class= 'chevron-back'>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title >The parcels list</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <ion-list *ngFor="let d of data">
  <ion-row>
    <ion-col>
      <ion-item  class = "parcel-item">
        <ion-icon name="cube-outline" color = 'primary'></ion-icon> 
        <ion-label  class = "parcel-title">{{d.title}}</ion-label>
       <ion-button  slot="end" class = 'toggle_button' color = 'primary' fill = 'clear' (click)='toggleDetails(d)'>{{d.textButton}}</ion-button>
     </ion-item>
     </ion-col>
  </ion-row>
  <div *ngIf="d.showDetails" class = "parcels-details" >

    <p class= 'description'>{{d.details}},{{d.weight}} <br>Delivery Option: <span>{{d.type}}</span><br>Deliver this parcel before 02:59PM, Today</p>
      <ion-item >
        <ion-button fill="clear"> VIEW <ion-icon name="eye-outline" fill="clear" color = 'primary' ></ion-icon></ion-button>
        <ion-button slot = 'end' color ='danger' shape='round'>NOT DELIVERED</ion-button>
      </ion-item>
   
  </div>
  </ion-list>

</ion-content>
