.chevron-back {
  
  font-weight: bold;
  font-family: FagoCo !important;
  height: 56px;
  font-size: 32px;
  margin: 0px 0px 0px 10px;
}

ion-title {
  font-family: FagoCo !important;
  font-weight: bold;
  font-size: 32px;
  padding: 0px;
  
} 

.parcel-item{
  margin: 0px 0px 0px 0px;
  .parcel-title{
    font-weight: bold;
    font-family: Roboto;
    font-size: 19px;
    margin: 0px 0px 0px 5px;
  }
  .toggle_button{
    font-weight: bold;
    font-family: Roboto;
    font-size: 16px;
    margin: 0px 10px 0px 0px;
  
  }
}
.parcels-details .description{
  margin: 0px 0px 0px 60px;
  font-weight: 500;
  font-family: Roboto;
  font-size: 14px;
  span{
    font-weight: normal;
  }
 }
  ion-button{
    font-size: 14px;
    margin: 0px 24px 0px 35px;
  }

