.chevron-back {
  
  font-weight: bold;
  font-family: FagoCo !important;
  height: 56px;
  font-size: 32px;
  margin: 0px 0px 0px 20px;
}

ion-title {
  font-family: FagoCo !important;
  font-weight: bold;
  font-size: 32px;
  padding: 0px;
  
} 
.form-input{

  border: 1px solid var(--ion-color-dark);
  border-radius: 30px;
  color: var(--ion-color-dark);
  height: 56px;
  margin: -5px 24px 0px 24px;
   
}
ion-button {
  font-weight: bold;
  font-family: FagoCo !important;
  height: 56px;
  font-size: 32px; 
  margin-right: 24px;
}


.route-item{
  margin: 0px ;
  .route-title{
    font-weight: bold;
    font-family: Roboto;
    font-size: 14px;
    margin: 5px;
  }

}
.follow-up-buttons{
  margin: 0px 0px 0px 22px;
  
}
ion-input, ion-textarea, ion-select {
  --placeholder-color: var(--ion-color-primary);
}
.route-details{
  margin: 0px 0px 0px 57px;
  font-size: 14px;
  span{
    font-weight: 500;
  }
}