<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary" slot="start" (click)='fermer()'>
      <ion-button  class="chevron-back">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title >Route creation</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
<ion-segment scrollable value="departure" [(ngModel)]="segment">
  <ion-segment-button value="departure">
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>Departure</ion-label>
  </ion-segment-button>
  <ion-segment-button value="arrival">
    <ion-icon name="paper-plane-outline"></ion-icon>
    <ion-label>Arrival</ion-label>
  </ion-segment-button>
  <ion-segment-button value="validation">
    <ion-icon name="checkmark-circle-outline"></ion-icon>
    <ion-label>Validation</ion-label>
  </ion-segment-button>
</ion-segment>


<div [ngSwitch]="segment">
<div *ngSwitchCase="'departure'">

<ion-grid>
  <ion-col>
<form>
  <ion-row>
    <ion-col center text-center>
       
            <ion-select placeholder="Select a country..." class="form-input" [interfaceOptions]="customPopoverOptions" interface="popover">
                <ion-select-option *ngFor="let country of countries" [value]="country">{{country.name}}</ion-select-option>
            </ion-select>
      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col center text-center>
       
            <ion-select placeholder="Select a State/Province..." class="form-input" class="form-input" [interfaceOptions]="customPopoverOptions" interface="popover">
                <ion-select-option *ngFor="let province of provinces" [value]="province">{{province.name}}</ion-select-option>
            </ion-select>
      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col center text-center>
       
            <ion-select placeholder="select a District/LGA..." class="form-input" class="form-input" [interfaceOptions]="customPopoverOptions" interface="popover">
                <ion-select-option *ngFor="let district of districts" [value]="country">{{district.name}}</ion-select-option>
            </ion-select>
      
    </ion-col>
  </ion-row>
  
  <ion-grid>
    <ion-row>
      <ion-col size="3">
      </ion-col>
      <ion-col size="3">
      </ion-col>
      <ion-col size="6">
                <ion-button color="primary"  type="submit" expand="full" shape="round" (click)="goArrival()">
                    <ion-label>Next</ion-label>
                </ion-button>
​
        </ion-col>
    </ion-row>
</ion-grid>
</form>
</ion-col>
</ion-grid>
​
</div>


<!-- arrival -->
<div *ngSwitchCase="'arrival'">
  <ion-grid>
    <form>
      <ion-row>
        <ion-col center text-center>
           
                <ion-select placeholder="Select a country..." class="form-input" [interfaceOptions]="customPopoverOptions" interface="popover">
                    <ion-select-option *ngFor="let country of countries" [value]="country">{{country.name}}</ion-select-option>
                </ion-select>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col center text-center>
           
                <ion-select placeholder="Select a State/Province..." class="form-input" class="form-input" [interfaceOptions]="customPopoverOptions" interface="popover">
                    <ion-select-option *ngFor="let province of provinces" [value]="province">{{province.name}}</ion-select-option>
                </ion-select>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col center text-center>
           
                <ion-select placeholder="select a District/LGA..." class="form-input" class="form-input" [interfaceOptions]="customPopoverOptions" interface="popover">
                    <ion-select-option *ngFor="let district of districts" [value]="country">{{district.name}}</ion-select-option>
                </ion-select>
          
        </ion-col>
      </ion-row>
      
    </form>
  </ion-grid>
​
  <ion-grid>
      <ion-row >
          <ion-col class = 'follow-up-buttons'> 
                <ion-button color= "primary" type="submit" expand="full" shape="round" (click)="backDeparture()">
                  Back
                </ion-button>
          </ion-col>
          <ion-col >
                <ion-button type="submit" fill="outline" expand="full" shape="round" (click)="goValidation()">
                  Next
                </ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
</div>


<!-- VALIDATION -->
<div *ngSwitchCase="'validation'">
  <ion-grid>
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-item  class = "route-item">
            <ion-icon color= "primary" src="./assets/icon/flag.svg"></ion-icon> 
            <ion-label  class = "route-title">DEPARTURE</ion-label>
         </ion-item>
         </ion-col>
        </ion-row>
        <p class= 'route-details'><span>Relay Point:</span> ooo<br><span>Nigeria|Kanu|Baane</span><br><span>City:</span> Nigeria|Kanu|Baane<br><span>Other information:</span></p>
        <ion-row>
          <ion-col>
            <ion-item  class = "route-item">
              <ion-icon color= "primary" src="./assets/icon/flag.svg"></ion-icon> 
              <ion-label  class = "route-title">ARRIVAL</ion-label>
           </ion-item>
           </ion-col>
          </ion-row>
       
          <p class= 'route-details'><span>Relay Point:</span> ooo<br><span>Nigeria|Kanu|Baane</span><br><span>City:</span> Nigeria|Kanu|Baane<br><span>Other information:</span></p>
        
      </ion-list>
  </ion-grid>
​
  <ion-grid>
      <ion-row class = 'follow-up-buttons'>
          <ion-col>
            <ion-button color= "primary"  type="submit" expand="full" shape="round" (click)="backArrival()">Back</ion-button>    
          </ion-col>
          <ion-col >
            <ion-button type="submit"  expand="full" shape="round" (click)="goValidation()" > Confirm</ion-button>
          </ion-col>
        </ion-row>

  </ion-grid>
</div>

</div>

 

</ion-content>
