<ion-content >

  
    <ion-list-header>
    </ion-list-header>
    <ion-list *ngFor="let d of data">
       <ion-row>
         <ion-col>
           <ion-item  class = "trip-item">
             <ion-icon src="./assets/icon/flag.svg"></ion-icon> 
             <ion-label  class = "trip-title">{{d.title}}</ion-label>
            <ion-button slot="end" color = 'secondary' fill = 'clear' (click)='toggleDetails(d)' class = "toggle_button">{{d.textButton}}</ion-button>
          </ion-item>
          </ion-col>
       </ion-row>
    
    <div *ngIf="d.showDetails" class = "trip-details">
      <ion-list>
        <ion-list-header>
          <ion-label>DEPARTURE</ion-label>
        </ion-list-header>
        <p class= 'description'>Relay Point: ooo<br>Type of business: Multisevice<br>Address: Nigeria|Kanu|Baane</p>
        <ion-list-header >
          <ion-label>ARRIVAL</ion-label>
        </ion-list-header>
        <p class= 'description'>Relay Point: ooo<br>Type of business: Multisevice<br>Address: Nigeria|Kanu|Baane</p>
        
      </ion-list>
      <ion-grid>
        <ion-row  >
          <ion-col>
            <ion-item class = "details_buttons">
              <ion-button shape="round" >
                VIEW
                <ion-icon size = 'medium' name="eye-outline"></ion-icon>
              </ion-button>
              
              <ion-button shape="round" >
                PARCEL
                <ion-icon name="cube-outline"></ion-icon>
              </ion-button>
            
              <ion-button shape="round" color= 'danger'>
                DELETE
                <ion-icon name="close"></ion-icon>
              </ion-button >
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" class="yes-fab">
      <ion-fab-button (click)='addTrajet()'>
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>

</ion-content>
