.yes-fab {
  padding-bottom: 10%;
  padding-right: 3%;
}

.trip-item{
  margin: 0px 0px -10px 0px;
  .trip-title{
    font-weight: bold;
    font-family: Roboto;
    font-size: 19px;
    padding: 0;
    margin: 0px 0px 0px 5px;
  }
  .toggle_button{
    font-weight: bold;
    font-family: Roboto;
    font-size: 16px;
  
  }
}
.trip-details{
  margin: 0px 0px 0px 35px;
  .description{
    font-family: Roboto;
    font-size: 14px;
    padding-left: 20px;
   
  }
  ion-list-header{
    font-weight: bold;
    font-family: Roboto;
    font-size: 14px;
  }
}
.details_buttons{
  font-weight: bold;
  font-family: Roboto;
  font-size: 14px;
  margin: 0px 0px 0px -15px;
  ion-button{
    height: 24px;
    margin: 5px}
}

 