<ion-content >
    <ion-grid>

      <ion-row>
          <ion-col>
              <img class="img-logo" src="assets/images/icon.png" />
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-text color="dark" class="yes-title">
            <h1>Forgot password ?</h1>
        </ion-text>
      </ion-row>

       <ion-row>
            <ion-col>
               <form >
                   <ion-row>
                      <ion-col center text-center>
                          <ion-item class="form-input" >
                              <ion-label color='primary' >
                                  <ion-icon name="person-outline"></ion-icon>
                                </ion-label>
                              <ion-input  type="email" placeholder="E-mail address" required="true"></ion-input>
                          </ion-item>
                      </ion-col>
                    </ion-row>
                  <br> <br>
                  <ion-row>
                      <ion-col center text-center>
                          <ion-button expand="full" color='primary' type="submit" shape="round"> Reset password</ion-button>
                      </ion-col>
                  </ion-row>
               </form>
            </ion-col>
        </ion-row>
    </ion-grid>

  
  </ion-content>
