.yes-title {
  margin: 10px 20px 0px 35px;
  font-family: FagoCo !important;
  h1{
    font-size: 32px;
    font-weight: bold; 
  }
}
.img-logo {
  max-width: 100%;
  border: 0;
  margin: 80px 0px 0px 64px;
}
.form-input{

  border: 1px solid var(--ion-color-dark);
  border-radius: 30px;
  color: var(--ion-color-dark);
  font-size: 18px;
  font-family: roboto;
  height: 56px;
  margin: 0px 24px -20px 24px;
}
ion-button {
  font-weight: bold;
  font-family: FagoCo !important;
  height: 56px;
  font-size: 32px;
  margin: 0px 24px 0px 24px;
  
}
ion-input {
  --placeholder-color: var(--ion-color-primary);
}
