<ion-toolbar color="primary">
  <ion-title >YobanteExpress<span class ="span-title">.com</span></ion-title>
  <ion-buttons slot="end" class = 'hamburger'>
      <ion-menu-button auto-hide="false" ></ion-menu-button>
  </ion-buttons>

  <!--     <ion-title>test</ion-title> -->
</ion-toolbar>

<ion-menu side="end" menuId="first" contentId="main"  >
  <ion-header>
      <ion-toolbar color="primary">
          <ion-title>Carrier</ion-title>
          <ion-icon name="cancel-outline" slot="end"></ion-icon>
          
      </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
          <ion-item button (click)='parameter()' >
            <ion-icon name="settings-outline" slot="start" color="dark"> </ion-icon>
            <ion-label color="dark" > Settings</ion-label>
          </ion-item>
       
        <ion-item button (click)='logout()'>
            <ion-icon name="log-out-outline" slot="start" color="dark"></ion-icon>
            <ion-label color="dark">Sign Out</ion-label>
        </ion-item>
    </ion-list>
  </ion-content>  
</ion-menu>





<ion-router-outlet id="main"></ion-router-outlet>



<ion-tabs>

  <ion-tab-bar slot="bottom" color="secondary">

      <ion-tab-button tab="notifications">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          <ion-label>Notifications</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="trajets" (click)="selectTripIcon()">
          <ion-icon [src]="toShowflag" class = 'imported-icon'></ion-icon>
          <ion-label>Trips</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="colis">
        <ion-icon [src]="toShowLoop" (click)="selectLoopIcon()" class = 'imported-icon'></ion-icon>
        <ion-label>Loops</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="credit">
        <ion-icon name="card-outline" fill="outline"></ion-icon>
        <ion-label>Credit</ion-label>
      </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
