ion-tab-button.tab-selected {
  ion-icon, ion-label {
    color: var(--ion-color-light) !important;
  }
}
ion-title {
  font-family: FagoCo !important;
  font-weight: bold;
  font-size: 32px;
  padding: 0px;
  margin-left: -49px;
  //position: left;
  
}
.span-title{
  font-weight: normal;
} 
.imported-icon{
height: 29.39px;
}
.hamburger{
  margin: 0px 20px 0px 0px;
} 