div.accordion-container {
  overflow:hidden;
  overflow-y: scroll;
  transition:max-height 0.5s ease-in-out;
  border: 1px solid var(--ion-color-dark);
  border-radius: 30px;
  margin: -44px 24px 60px 24px;
}

div.accordion-container.collapsed {
  max-height: 0 !important;
  border: 0;

  
}